{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="container">
        <div class="breadcrumb_text">
            <h6 class="wow fadeInUp">Contáctenos</h6>
            <h3 class="wow fadeInUp" data-wow-delay="0.2s">Nuestro equipo está a su disposición</h3>
            <ul class="nav justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Breadcrumb Area =================-->

<!--================Contact Area =================-->
<section class="contact_area">
    <div class="container">
        <div class="row contact_details">
            <div class="col-lg-4 col-6 text-center">
                <div class="contact_details_item wow fadeInLeft" data-wow-delay="0.2s">
                    <i class="linearicons-map-marker"></i>
                    <h4>Direccion</h4>
                    <p>Av. Jaime Paz Zamora esq. Padilla </p><p> Tarija, Bolivia</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-6">
                <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.3s">
                    <i class="linearicons-home4"></i>
                    <h4>Soporte Tecnico</h4>
                    <p>Calle German Busch esq. Topater, Bermejo, Tarija</p>
                </div>
            </div> -->
            <div class="col-lg-4 col-6 text-center">
                <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.4s">
                    <i class="linearicons-telephone"></i>
                    <h4>Telefono</h4>
                    <a href="tel:+591466665555">
                        <h6>Oficina: +591 (4) 6665555</h6>
                    </a>
                    <a href="tel:+59146961620">
                        <h6>Soporte: +591 (4) 6961620</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-6 text-center">
                <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.5s">
                    <i class="linearicons-envelope-open"></i>
                    <h4>Email</h4>
                    <a href="mailto:soporte@observatoriomedico.org.bo">
                        <h6>soporte@obs.org.bo</h6>
                    </a>
                    <a href="mailto:contacto@observatoriomedico.org.bo">
                        <h6>contacto@obsmedico.org.bo</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="contact_form_inner">
            <form class="row contact_us_form appoinment_form js-form">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" name="name" placeholder="" required />
                        <label class="top_text"><i class="linearicons-user"></i>Nombre completo</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="email" name="email" placeholder=""
                            required />
                        <label class="top_text"><i class="linearicons-envelope-open"></i>Direccion de correo</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="number" name="number" placeholder=""
                            required />
                        <label class="top_text"><i class="linearicons-telephone"></i>Numero de celular</label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                            required></textarea>
                        <label class="top_text"><i class="linearicons-pencil4"></i>Su Mensaje</label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group checkbox_field">
                        <div class="checkbox">
                            <input type="checkbox" value="None" id="policy" name="check" />
                            <label class="l_text" for="policy">Acepto las <span>Políticas de Privacidad</span> y los<span>Términos de uso.</span></label>
                        </div>
                        <button type="submit" value="submit" class="green_btn">
                            Enviar Mensaje
                        </button>
                    </div>
                </div>
                <div class="success-message">
                    <i class="fa fa-check text-primary"></i> Gracias!. Su mensaje fue enviado con éxito...
                </div>
                <div class="error-message">Lo lamentamos, pero algo salió mal</div>
            </form>
        </div>
    </div>
</section>
<!--================End Contact Area =================-->

<!--================Map Area =================-->
<section class="map_area">
    <div id="mapBox" class="mapBox row m0" data-lat="-22.7396801" data-lon="-64.3332823" data-zoom="15"
        data-marker="{% static 'core/images/marker.png' %}" data-info="Calle German Busch esq. Topater, Bermejo, Tarija"
        data-mlat="-22.7396801" data-mlon="-64.3332823">
    </div>
</section>
<!--================End Map Area =================-->
{% endblock content %}

<!-- Specific JS -->
{% block javascripts %}
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1bYjJw1zWJijpailt1uTMOZcFyImRHxU"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8PpFUuupdBSAQ_MHA6oRFc11JTiOuMXo"></script>
<script src="{% static 'core/js/gmaps.min.js' %}"></script>
<script src="{% static 'core/js/map-active.js' %}"></script>

{% endblock javascripts %}